h1, h2, p, body, a, dt, dd, li, td {
  font-family: Helvetica;
  line-height: 1.5;
}

h1 {
  color: #d18400;
  font-size: 125%;
}

h2 {
  color: #000000;
  font-size: 110%;
  text-decoration-line: underline; 
}

body {
  background-color: #ffffff;
  color: #444444;
}

a {
  color: #2600aa;
}

.centered {
  text-align: center;
}

dt {
  padding-bottom: 5px;
  color: #006060;
/*  text-indent: 10px; */
}

.nobr {
  style: white-space: nowrap;
}

.intext {
  vertical-align: middle;
  padding-right: 5px;
}

.emph {
  font-style: italic;
}

dd {
  text-indent: 0px;
  padding-bottom: 10px;
}

li {
  padding-bottom: 5px;
}

.shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;  
}

.strong {
  font-weight: bold;
}

.button {
  border-radius: 5px;
  border: 2px solid #dedede;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #dedede;
  font-size: 90%;
  font-weight: bold;
  color: black;
}

.gui {
  font-size: 90%;
  font-weight: bold;
  color: black;
}

.icon {
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

.code {
  font-family: monospace;
}

.quote {
  margin-left: 1cm;
}
