h1, h2, p, body, a, dt, dd, li, td {
  font-family: Helvetica;
}
h1 {
  color: #d18400;
  font-size: 125%;
}
h2 {
  color: #000000;
  font-size: 110%;
}
body {
  background-color: #ffffff;
  color: #444444;
}
a {
  color: #2600aa;
}
.centered {
  text-align: center;
}
dt {
  color: #006060;
}
.intext {
  vertical-align: middle;
  padding-right: 5px;
}
.emph {
  font-style: italic;
}
dd {
  padding-bottom: 5px;
}
li {
  padding-bottom: 5px;
}
.strong {
  font-weight: bold;
}
.gui {
  color: black;
  background-color: #ffdddd;
}
.code {
  font-family: monospace;
}
.quote {
  margin-left: 1cm;
}
