<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Default.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Testing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E926B671161ECE5000794CE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9549089161660FE00BFA76C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E96D8C77161662640009B833</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9875CC1161E236D00C423BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9B10CDB19EB569900330D45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9E9BCCB198B664D00B85B5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
